*.h linguist-language=Objective-C
*.m linguist-language=Objective-C
*.podspec linguist-language=Objective-C
*.framework linguist-language=Objective-C
*.bundle linguist-language=Objective-C
*.SDK linguist-language=Objective-C
*.plist linguist-language=Objective-C
*.modulemap linguist-language=Objective-C
*.xcodeproj linguist-language=Objective-C
*.xcworkspace linguist-language=Objective-C
*.xcassets linguist-language=Objective-C
*.appiconset linguist-language=Objective-C
*.json linguist-language=Objective-C
*.lproj linguist-language=Objective-C
*.storyboard linguist-language=Objective-C
*.lock linguist-language=Objective-C
*.md linguist-language=Objective-C 
*.yml linguist-language=Objective-C 
*.html linguist-language=Objective-C 
*.js linguist-language=Objective-C 
*.xml linguist-language=Objective-C
*.css linguist-language=Objective-C 
*.sql linguist-language=Objective-C
*.uml linguist-language=Objective-C 
*.cmd linguist-language=Objective-C 